.canvas{
    height: 450px;
    width: 450px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;

}

body{
    margin: 5%;
    padding: 0%;
    width: 100%;
    background-color:silver;
    display:flex;
    flex-direction: column;
    align-content: center;
}

h1{

}
.pallate{

}