.canvas{
    height: 660px;
    width: 660px;
    background-color: white;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;

}

.pixels{
    width: 10px;
    height: 10px;
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap

}
.row{
    width:6350px;
    display: flex;
    flex-wrap: wrap;
    
}


body{
    margin: 5%;
    padding: 0%;
    width: 100%;
    background-color:silver;
    display:flex;
    flex-direction: column;
    align-content: center;
}

h1{

}
.pallate{

}